.videos {
  display: flex;
  flex-flow: column;

  height: 100%;

  &__btn {
    align-self: center;

    width: 5em;
    color: white;
    background: none;
    outline: none;
    border: none;
    transition: all 200ms ease;

    &:hover {
      cursor: pointer;
      transform: scale(1.08);
      color: rgb(185, 185, 185);
    }
  }

  &__flex {
    display: flex;
    margin-top: auto;
    margin-bottom: 4em;

    align-items: center;
  }
}
