.search-container {
  display: flex;

  justify-content: center;
  margin: 6.5em 0 1.5em 0;

  @media screen and (max-width: 1600px) {
    margin: 4.5em 0 2em 0;
  }

  @media screen and (max-width: 800px) {
    margin: 4.5em 0 2em 0;
  }

  @media screen and (max-width: 380px) {
    margin: 3.5em 0 2em 0;
  }
}
