.nav-item {
  border: 1px solid #7ca887;
  border: none;
  box-shadow: 0 0.22em #151c24;
  background: none;
  margin: 0em 1.15em;
  padding: 0 0.5em 0.2em;
  outline: none;

  text-decoration: none;
  font-size: 1.05em;
  font-weight: 600;

  color: #7ca887;

  transition: all 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    opacity: 75%;
  }

  &-active {
    color: white;
    background: rgba(0, 0, 0, 0.65);
    box-shadow: none;
  }

  &-none {
    color: #7ca887;
    box-shadow: 0 0.22em #151c24;
  }

  @media screen and (max-width: 700px) {
    margin: 0 0.75em;
  }

  @media screen and (max-width: 375px) {
    margin: 0 0.3em;
  }
}
