.pagination {
  &__prev {
    border: 1px solid #0066cc;
    font-size: 1em;
    background-color: #e7e7e7;
    color: black;
    padding: 5px 10px;

    &:hover {
      border: 1px solid #0099cc;
      background-color: #00aacc;
      color: #ffffff;
      padding: 5px 10px;
    }

    &:disabled {
      border: 1px solid #999999;
      background-color: #cccccc;
      color: #666666;
    }
  }

  &__next {
    border: 1px solid #0066cc;
    font-size: 1em;
    background-color: #e7e7e7;
    color: black;
    padding: 5px 10px;

    &:hover {
      border: 1px solid #0099cc;
      background-color: #00aacc;
      color: #ffffff;
      padding: 5px 10px;
    }

    &:disabled {
      border: 1px solid #999999;
      background-color: #cccccc;
      color: #666666;
    }
  }
}
