.movie-wrapper {
  margin-top: 4em;

  @media screen and (max-width: 500px) {
    margin-top: 3em;
  }
}

.header-page {
  display: flex;
  justify-content: space-between;

  &__text {
    font-size: 1em;
    margin: 0 6em;
    color: #7ca579;

    @media screen and (max-width: 500px) {
      margin: 1em;
    }
  }

  &__pagination {
    margin-right: 6em;

    @media screen and (max-width: 500px) {
      margin: 1em;
    }
  }
}
