.image-modal {
  display: flex;

  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.98);
  color: white;

  &__heading {
    font-size: 1.5rem;
  }

  &__content {
    margin: auto;
    position: relative;
  }

  &__img {
    width: 70vw;

    @media screen and (max-width: 1441px) {
      width: 85vw;
    }

    @media screen and (max-width: 376px) {
      width: 90vw;
    }
  }

  &__scroll-btn {
    width: 3rem;

    color: white;
    background: none;
    outline: none;
    border: none;
    transition: all 200ms ease;

    &:hover {
      cursor: pointer;
      transform: scale(1.08);
      color: rgb(185, 185, 185);
    }
  }

  &__close-btn {
    @extend .image-modal__scroll-btn;
    position: absolute;
    top: 0;
    right: 0;
  }

  &__controls {
    display: flex;
  }

  &__progress-text {
    @extend .image-modal__heading;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0.25rem;
  }
}
