.cast {
  margin: auto 0 3.5rem 0;
  max-width: 65%;

  @media screen and (max-width: 1023px) {
    max-width: 100%;
    margin-bottom: 2em;
    margin-top: 1em;
  }

  &__text {
    margin: 0.5rem 0;
  }

  &__cast-img {
    border-radius: 0.94rem;
    vertical-align: top;

    max-width: 100%;
    height: auto;

    &:hover {
      cursor: pointer;
    }
  }

  &__cast-text {
    margin: 0.5rem 0;
    margin: 0.25rem;
    text-align: center;
  }

  &__action-text {
    margin: 0.5rem 0;
    margin: 0.25rem;
    text-align: center;
    margin-top: 0;
    color: grey;
  }
}

.animated-cast-card {
  flex: 0 0 7rem;
  margin: 0 0.5rem;
  display: flex;
  flex-flow: column;
  align-items: center;
}
