.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
  margin: 3rem 1.5rem;

  @media screen and (max-width: 1023px) {
    font-size: 14px;
    width: calc(100% - 7em);
    height: calc(100% - 3.5em);
    margin: 0 3.5em 3.5em 3.5em;
    justify-content: flex-end;
    align-items: stretch;
  }

  @media screen and (max-width: 599px) {
    font-size: 12px;
    width: calc(100% - 3em);
    height: calc(100% - 3.5em);
    margin: 0 1.5em 3.5em 1.5em;
    justify-content: flex-end;
    align-items: stretch;
  }

  &__btn {
    margin: 1em 0 0 0;
    display: flex;

    @media screen and (max-width: 1023px) {
      margin: 0 auto;
    }
  }

  &__bottom {
    display: flex;

    @media screen and (max-width: 1500px) and (min-width: 1024px) {
      flex-flow: column;
    }
  }

  &__header {
    margin-bottom: 1em;

    @media screen and (max-width: 1023px) {
      margin-bottom: 0.5em;
    }

    h1 {
      font-family: 'Titillium Web', sans-serif;
      font-size: 3.5em;
      text-shadow: -1px -1px 1px #aaa, 0px 4px 1px rgba(0, 0, 0, 0.5),
        4px 4px 5px rgba(0, 0, 0, 0.7), 0px 0px 7px rgba(0, 0, 0, 0.4);
      margin: 0 0 0.25em 0;
      padding: 0;

      @media screen and (max-width: 1023px) {
        font-size: 1.667em;
      }
    }

    h2 {
      font-size: 1.25em;
      margin: 0.1em 0;
    }
  }

  &__detail {
    display: flex;
    flex-direction: column;
    margin: 3em 1em 1em 1em;

    @media screen and (max-width: 1500px) {
      margin: 0.75em auto;
      text-align: left;
    }
  }

  &__movie-title {
    font-family: 'Titillium Web', sans-serif;
    font-size: 3.5em;
    text-shadow: -1px -1px 1px #aaa, 0px 4px 1px rgba(0, 0, 0, 0.5),
      4px 4px 5px rgba(0, 0, 0, 0.7), 0px 0px 7px rgba(0, 0, 0, 0.4);
    margin: 0.15em 0;
    padding: 0;
  }

  &__detail-title {
    // @extend &__movie-title;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
  }

  &__text {
    font-size: 1em;
    margin: 0;
  }

  &__plot {
    margin-top: 3em;

    h1 {
      font-size: 1.25em;
      margin: 0.1em 0;
    }

    p {
      font-size: 1em;
      line-height: 1.4;
      width: 85%;
    }

    @media screen and (max-width: 1023px) {
      margin-top: 0.5em;

      p {
        width: 100%;
      }
    }
  }

  &__runtime-icon {
    margin: 0 0.25rem;
  }

  &__back-icon {
    color: white;
    width: 1.1em;
    height: 1.1em;
    margin: 0em 0.35em;
  }

  &__rating-icon {
    margin: 0 0.25rem;
  }

  &__tagline-text {
    font: italic 600 1.75em 'Titillium Web', sans-serif;
    text-align: center;
    max-width: 85%;
    margin: 1em 1em 1em 0;

    :before {
      color: grey;
      content: open-quote;
      font-size: 2em;
      line-height: 0.1em;
      margin-right: 0.2em;
      vertical-align: -0.2em;
    }

    &:after {
      color: grey;
      content: close-quote;
      font-size: 2em;
      line-height: 0.1em;
      margin-left: 0.1em;
      vertical-align: -0.2em;
    }

    @media screen and (max-width: 1023px) {
      text-align: left;
      font-size: 1.5em;
    }

    @media screen and (max-width: 799px) {
      display: none;
    }
  }
}
