.images {
  display: flex;
  height: 100%;

  &__spring {
    flex: 0 0 calc(25% - 1.5rem);

    margin: 0 0.75rem;
  }

  &__bottom {
    display: flex;
    align-self: flex-end;
    align-items: center;
    margin-bottom: 3rem;
    height: 35%;
  }

  &__movies {
    width: 100%;
    height: 100%;
    vertical-align: top;
    &:hover {
      cursor: pointer;
    }
  }
}
